<%= form_with(model: grade) do |form| %>
  <% if grade.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(grade.errors.count, "error") %> prohibited this grade from being saved:</h2>

      <ul>
        <% grade.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :class_name_id, style: "display: block" %>
    <%= form.text_field :class_name_id %>
  </div>

  <div>
    <%= form.label :class_teacher, style: "display: block" %>
    <%= form.number_field :class_teacher %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
