<%= form_with(model: mark) do |form| %>
  <% if mark.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(mark.errors.count, "error") %> prohibited this mark from being saved:</h2>

      <ul>
        <% mark.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :max_attainable, style: "display: block" %>
    <%= form.number_field :max_attainable %>
  </div>

  <div>
    <%= form.label :attained, style: "display: block" %>
    <%= form.number_field :attained %>
  </div>

  <div>
    <%= form.label :class_id, style: "display: block" %>
    <%= form.number_field :class_id %>
  </div>

  <div>
    <%= form.label :student_id, style: "display: block" %>
    <%= form.number_field :student_id %>
  </div>

  <div>
    <%= form.label :subject_id, style: "display: block" %>
    <%= form.text_field :subject_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
