<div id="<%= dom_id mark %>">
  <p>
    <strong>Max attainable:</strong>
    <%= mark.max_attainable %>
  </p>

  <p>
    <strong>Attained:</strong>
    <%= mark.attained %>
  </p>

  <p>
    <strong>Class:</strong>
    <%= mark.class_id %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= mark.student_id %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= mark.subject_id %>
  </p>

</div>
