<div id="<%= dom_id student %>">
  <p>
    <strong>First name:</strong>
    <%= student.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= student.last_name %>
  </p>

  <p>
    <strong>Admission number:</strong>
    <%= student.admission_number %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= student.phone_number %>
  </p>

  <p>
    <strong>Father name:</strong>
    <%= student.father_name %>
  </p>

  <p>
    <strong>Mothers name:</strong>
    <%= student.mothers_name %>
  </p>

  <p>
    <strong>Dob:</strong>
    <%= student.dob %>
  </p>

  <p>
    <strong>Date of admission:</strong>
    <%= student.date_of_admission %>
  </p>

</div>
