<%= form_with(model: teacher, local: true) do |form| %>
  <% if teacher.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
        <% teacher.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  
  
  <div class="w-full mt-3">
    <%= form.label :name, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
    <%= form.text_field :name, value: teacher.name, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" %>
  </div>
  
  <div class="w-full mt-3">
    <%= form.label :email, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
    <%= form.email_field :email, value: teacher.email, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" %>
  </div>
  
  <%# Autosubmitting form inside turbo to fetch chained select methods grade and sibject_ids %>
  <%= turbo_frame_tag :grade_select_frame do %>
    <div data-controller="chained-select-teacher">
      <%= form.button "Validate", formaction: new_teacher_path, formmethod: :get , data: { chained_select_teacher_target: "remoteBtn", turbo_frame: :grade_select_frame } %>
      <div class="w-full mt-3">
        <%= form.label :grade_id, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
        <%= form.select :grade_id, options_for_select(Grade.all.map { |g| [g.name, g.id] }, teacher.grade_id), { prompt: "Select a Grade" }, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", 
                        data: { action: "change->chained-select-teacher#autoSubmit"} %>    
      </div>

        <div class="w-full mt-3">
          <%= form.label :subject_ids, "Subjects to be Assigned", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
          <%# form.select :subject_ids, options_for_select(Subject.all.map { |s| ["#{s.name}-#{Grade.find(s.grade_id).name}", s.id] }, teacher.subject_ids), {} , class: "block bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 h-20 resize-y dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", multiple: true %>
          <%= form.select :subject_ids, options_for_select(teacher.subjects_allowed.map { |s| ["#{s.name}", s.id] } ),
                                      {},
                                      class: "block bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 h-20 resize-y dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", multiple: true %>
          <%# form.select :subject_ids, teacher.subjects_allowed, {}, class: "block bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 h-20 resize-y dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", multiple: true %>
        </div>
    </div>
  <% end %>

  <div class="inline-flex rounded-md shadow-sm mt-4 mb-2" role="group">
    <%= form.submit class: "inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-transparent border border-gray-900 rounded-l-lg hover:bg-gray-900 hover:text-white focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-gray-900 focus:text-white dark:border-white dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:bg-gray-700" %>    
    <%= link_to "Back to Teacher", teachers_path , class: "px-4 py-2 text-sm font-medium text-gray-900 bg-transparent border border-gray-900 rounded-r-md hover:bg-gray-900 hover:text-white focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-gray-900 focus:text-white dark:border-white dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:bg-gray-700" %>
  </div>
<% end %>
