<p style="color: green"><%= notice %></p>

<%= render @section_name %>

<div>
  <%= link_to "Edit this section name", edit_section_name_path(@section_name) %> |
  <%= link_to "Back to section names", section_names_path %>

  <%= button_to "Destroy this section name", @section_name, method: :delete %>
</div>
